/.vs
/09_2D_transformation/x64/Debug
/transformacio_egyenlő_szárú/x64/Debug
/x64/Debug
/transformacio_ötszög/x64/Debug
/transformacio_torzitott/x64/Debug
/transzformacio_rács/x64/Debug
/bezier_mozgat/x64/Debug
/bezier_mozgat/x64/Debug
/bezier_mozgat/x64/Debug
/transformacio_negyzetek/x64/Debug
/bezier_mozgat/x64/Debug
